/* Importación de la fuente Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Estilos generales para todos los dispositivos */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px 20px;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

.hero {
    background: rgb(0,179,255);
    background: linear-gradient(90deg, rgba(0,179,255,1) 38%, rgba(173,231,255,1) 86%, rgba(255,255,255,1) 100%);
    padding: 80px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    color: #fff;
    font-weight: 700;
    margin: 0;
}

.card-section-tittle {
    text-align: center;
    font-size: 1.5em;
    margin: 20px 0;
}

.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
}

.card {
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

.card-content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.card img {
    max-width: 200px;
    height: auto;
    border-radius: 4px;
    margin-right: 20px;
}

.card-text {
    text-align: left;
}

.card h3 {
    margin-top: 0;
    font-size: 1.5em;
    font-weight: 600;
}

.card p {
    margin-top: 10px;
    font-size: 1em;
    color: #666;
}


@media (max-width: 480px) {
    .hero h1 {
        font-size: 2em;
    }

    .card-content {
        flex-direction: column;
        text-align: center;
    }

    .card img {
        margin: 0 0 20px 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    .hero h1 {
        font-size: 2.5em;
    }

    .card-section {
        padding: 20px;
    }

    .card-content {
        flex-direction: column;
    }

    .card img {
        margin: 0 0 20px 0;
        max-width: 150px;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .hero h1 {
        font-size: 3em;
    }

    .card-section {
        padding: 30px;
    }

    .card img {
        max-width: 180px;
    }
}


@media (min-width: 1025px) {
    .hero h1 {
        font-size: 3.5em;
    }

    .card-section {
        padding: 40px;
    }
}
