@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  height: 79px;
  background-color: white;
}

nav {
 height: 100%;
 display: flex;
 align-items: center;
 padding: 0 30px;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

nav li a {
  font-weight: normal;
  
}

nav a:visited {
  color: black;
}

nav ul {
  display: none;
  list-style: none;
}
.red{
  background-color: #FFF3F3;
}

.blue{
  background-color:#F3FBFF;
}
.pink{
  background-color: #FFFCF3;
}
.card-info{
  font-family: 'Roboto';
}
.card-eyebrow{
  color:#5F6368;
}
.card-body{
color:#5F6368;
}
.eyebrow{
  color: #5F6368;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero {
    min-width: 320px;
    width: 100%;
    background: linear-gradient(181deg, #2193B0 0.53%, #6DD5ED 99.54%);
    height: 393px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-family: Poppins;
    color: white;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    
  }

  h2{
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .eyebrow {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .card{
    display: flex;
    flex-direction: column;
    width: 349px;
    height: 434px;
    font-family: 'Roboto';
    padding-top: 20px;
  }
  .card-image{
    width: 348px;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 40px 40px 0px 0px;

  }
  .card-image img{
    width: 100%;
    height: 100%;
    
  }
  .card-info{
    width: 349px;
    height: 219px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 40px 40px;
  }

  .info-cont{
    width: 278.92px;
    height: 157px;
    padding-bottom: 20px;
  }
  .card-eyebrow{
    max-width: 229.61px;
    max-height: 36.37px;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 10px;
  
  }
  .card-title{
    max-width: 278.92px;
    max-height: 46.85px;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
  }
  .card-body{
    width:257px;
    height: 97px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 40px;
  } 
} 
@media screen and (min-width: 481px) and (max-width: 768px) {
  nav {
    justify-content: space-between;
  }

  nav ul {
    display: flex;
    width: 150px;
    justify-content: space-between;
  }
  .hero {
    min-width: 320px;
    width: 100%;
    background: linear-gradient(181deg, #2193B0 0.53%, #6DD5ED 99.54%);
    height: 393px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-family: Poppins;
    font-size: 73px;
    font-weight: 600;
    line-height: 110px;
    color: white;
    text-align: center;
  }

  .eyebrow{
    padding: 30px;
  }
  h2{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
  
  }
  .deals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cards-container{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .card{
    display: flex;
    width: 690px;
    height: 414px;  
  }
  
  .card-image {
    width: 309px;
    height: 355px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 60px 0px 0px 60px;
  }
  .card-image img{
    
    height: 100%;
  }
  
  .card-info {
    width: 381px;
    height: 355px;
    border-radius: 0px 60px 60px 0px;
    font-family: 'Roboto';
    display: flex;
   justify-content: center;
    align-items: center;
  }
  
  .info-cont{
    width: 284.38px;
    height: 265.48px;
  }
  
  .card-eyebrow {
    width: 269px;
    height: 50px;
    font-family: Roboto;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
  }
  
  .card-title {
    width: 283.89px;
    height: 65.11px;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
  }
  
  .card-body {
    width: 262.61px;
    height: 142.22px;    
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    letter-spacing: 0em;
    padding-top: 10px;
  }
  
}
@media screen and (width >= 769px) {
  nav {
    justify-content: space-between;
  }

  nav ul {
    display: flex;
    width: 150px;
    justify-content: space-between;
  }
  .hero {
    min-width: 320px;
    width: 100%;
    background: linear-gradient(181deg, #2193B0 0.53%, #6DD5ED 99.54%);
    height: 393px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-family: Poppins;
    font-size: 106px;
    font-weight: 600;
    line-height: 159px;
    color: white;
    text-align: center;
  }

  .eyebrow{
    padding: 30px;
  }
  h2{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
  
  }
  .deals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card{
    display: flex;
    width: 875px;
    height: 414px;
    padding-top: 30px;
   
  }
  
  .card-image {
    width: 425px;
    height: 414px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 60px 0px 0px 60px;
  }
  .card-image img{
    
    height: 100%;
  }
  
  .card-info {
    width: 451px;
    height: 414px;
    border-radius: 0px 60px 60px 0px;
    font-family: 'Roboto';
    display: flex;
   justify-content: center;
    align-items: center;
  }
  
  .info-cont{
    width: 360px;
    height: 286px;
  }
  
  .card-eyebrow {
    width: 296.35px;
    height: 59px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
  }
  
  .card-title {
    width: 360px;
    height: 76px;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
  }
  
    .card-body {
    width: 333.15px;
    height: 142px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    padding-top: 10px;
  }
  
} 





